.div-wrapper {
    background-color: black;
    display: flex; 
    justify-content: space-between;
}
.buttonMain {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 7px 14px;
}
/* .buttonMain:hover {
  background-color: rgb(254, 114, 114);
} */
.button-label-main {
  color: black;
}
