input, #number, #menu {
     width: 100%;
  border-width: 1px;
  border-style: solid;
  outline: none;
  font-size: 0.875rem;
  padding: 1rem 1.25rem;
  transition: border-color 0.3s ease-in;
  border-radius: 8px;
  color: #000;

  }
#firstName {
     width: 100%;
  border-width: 1px;
  border-style: solid;
  outline: none;
  font-size: 0.875rem;
  padding: 1rem 1.25rem;
  transition: border-color 0.3s ease-in;
  border-radius: 8px;
  color: #000;
  margin-top:70px;

  }
#subject {
     width: 100%;
  border-width: 1px;
  border-style: solid;
  outline: none;
  font-size: 0.875rem;
  padding: 1.50rem 0.5rem 0.7rem 1.25rem;
  /* padding: 1rem 1.25rem; */
  transition: border-color 0.3s ease-in;
  border-radius: 8px;
  color: #000;
  margin-bottom:20px;
  }
  .formText {
     margin-left: 1.2rem;
     font-size: 18px;
     
  }
  
  #TextAddress, #TextNumber, #TextNumberDom, #TextNumberJoe, #TextNumberGen {
     color: #2a4bf5;
  }
  #TextAddress:hover, #TextNumber:hover, #TextNumberDom:hover, #TextNumberJoe:hover, #TextNumberGen:hover {
     color: rgb(209, 29, 50);
  }
