span:hover {
 color:rgb(209, 29, 50)
}
.intro{
    margin-top: 50px;
}

.button {
  background-color: #6772e5;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 7px 14px;
}
.button:hover {
  background-color: white
}
.button-label {
  color: black;
}
.div-wrapper {
    background-color: black;
    display: flex; 
    justify-content: space-between;
}

.icon:hover {
   color: white;
}
.icon {
    color:"#000";
    font-size: 20;
    padding-top: 5;
}

.team-section
{
	/* background: #FFF; */
	text-align: center;
}

.inner-width
{
	max-width: 1000px;
	margin: auto;
	padding: 40px;
	color: #333;
	overflow: hidden;
}

.team-section h1
{
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 4px solid;
	padding-bottom: 10px;
}

.pe, .pe-two, .pe-one
{
	float: left;
	overflow: hidden;
	padding: 30px 20px 0;
	transition: 0.4s;
}
.pe-two
{
	float: left;
	overflow: hidden;
	padding: 40px 90px 0;
	transition: 0.4s;
}
.pe-one
{
	float: left;
	overflow: hidden;
	padding: 30px 90px 0;
	transition: 0.4s;
}
/* 
.pe:hover
{
	background: #dfe4ea;
} */

.pe img, .pe-two img, .pe-one img
{
	width:250px;
	height: 250px;
	border-radius: 50%;
}

.p-name
{
	margin: 15px;
	margin-left: 35px;
	text-transform: uppercase;
	text-align: center;
	color: #000;
}

.p-des
{
	font-style: italic;
	color: #3498db;
}

.p-sm
{
	margin-top: 160px;
}

.p-sm a
{
	margin: 0 4px;
	display: inline-block;
	width: 30px;
	height: 30px;
	transition: 0.4s;
}

/* .p-sm a:hover
{
	transform: scale(1.3);
} */

.p-sm a i
{
	/* color: #333; */
	line-height: 30px;
}

@media screen and (max-width: 960px) {
	.pe, .pe-one,  .pe-two{
		width: 100%;
		padding: 30px 20px 0;
	}
}
@media screen and (max-width: 768px) {
	.pe, .pe-one,  .pe-two{
		width: 100%;
		padding: 30px 20px 0;
	}
}
@media screen and (max-width: 600px) {
	.pe, .pe-one,  .pe-two{
		width: 100%;
		padding: 30px 20px 0;
	}
}
.Link {
	margin-bottom: 600px;
	display: absolute;
}
/* .WhiteContainer {
width: 500px; height: 500px; margin-top: 0px; margin-left: auto; margin-right: auto;   
  
background: rgba(15, 15, 15, 0.9);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
box-shadow: 0 1px 2px rgba(0,0,0,0.15);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
} */
/* Buttons styles */
input::-moz-focus-inner,
Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"].btn,
Button.btn {
  cursor: pointer;
}

Button.btn,.btn {
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
	border: 2px solid rgb(209, 29, 50);
}
/* Radius */
.btn-radius {
margin-top:10px;
  border-radius: 8px;
  padding: 8px 50px 30px 58px ;
  border-radius: 8px;
  height: 60px;
  outline: none;
  cursor: pointer;
  margin-top: 0.625rem;
  max-width: 180px;
  border-color: rgb(209, 29, 50);
  color: #000;
}
.btn-radius:hover {
 border-radius: 8px;
  height: 60px;
  outline: none;
  cursor: pointer;
  margin-top: 0.625rem;
  max-width: 180px;
  background-color: rgb(209, 29, 50);
  color: #FFF;
  
}

.children  {
	color: #000 !important;
	

}
.children:hover  {
	color: #fff  !important;
}
#SpanButton {
	padding-top: 50px;
	color: #000;
	font-weight: bold;
	padding-right: 40px;;
	
}
#SpanButton:hover {
	padding-top: 50px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	
}


#Service {
	padding-top: 90px;
	padding-bottom: -50px;
}

#Review {
	padding-top: 130px;
}
#mission {
	padding-top: -80px;
}
@media only screen and (max-width: 480px) {
   #Service {
	padding-top: 120px;
	padding-bottom: -50px;
}
#mission {
	padding-top: 100px;
}


  }
