#menu {
   border-width: 0px;
   margin-bottom: 10px;
}
#inputEmail{
   margin: 10px 0;
}
#message {
   display: block;
   width: 100%;
   overflow: hidden;
   resize: vertical;
   min-height: 50px;
   max-height: 250px;
   line-height: 20px;
   margin-bottom: 5px;
}
input, #number, #menu, #firstName {
   width: 100%;
   border-width: 1px;
   border-style: solid;
   outline: none;
   font-size: 0.875rem;
   padding: 0.7rem 1.25rem;
   transition: border-color 0.3s ease-in;
   border-radius: 8px;
   color: #000;
}

#firstName {
   margin-top: 70px;
}
#subject {
   height: 50%;
   width: 100%;
   border-width: 1px;
   border-style: solid;
   outline: none;
   font-size: 0.875rem;
   padding: 1.7rem 1.25rem 1.4rem;
   transition: border-color 0.3s ease-in;
   border-radius: 8px;
   color: #000;

}
.formText {
   margin-left: 1.2rem;
   font-size: 18px;
}
#TextAddress, #TextNumber, #TextNumberDom, #TextNumberJoe, #TextNumberGen {
   color: #1890ff;
}
#TextAddress:hover, #TextNumber:hover, #TextNumberDom:hover, #TextNumberJoe:hover, #TextNumberGen:hover {
   color: rgb(209, 29, 50);
}
#demo-simple-select {
   border-radius: 8px;
}
#menu {
   border-width: 0px;
   margin-bottom: 10px;
}
#suburb {
   margin: 10px 0 0;
   padding: 0.7rem 1.25rem;
}
@media (min-width: 900px) {
      #suburb {
      margin: 10px 0;
   }
}
#Submit {
   margin-top: 0rem;
}