#MainButton::before{
    height: 100%;
    top: 20%;
    filter: brightness(0.6);
}

#MainButton span {
    position: relative;
    height: 120%;
    top: -10%;
    width:150%;
    margin-left: -5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transition: 0.5s;
}

.button-enter{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 150%;
    height: 60%;
    border-radius: 20%;
    background: linear-gradient(to bottom right, white, rgba(220,220,220,.5)), white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
#MainButton {
    position: absolute;
    left: -8px;
    top: -21px; 
    display: block;
    width: 150%;
    height: 60%;
    border-radius: 20%;
    background: linear-gradient(to bottom right, white, rgba(220,220,220,.5)), white;
    box-shadow: rgba(0, 23, 25, 0.2) 0px 19px 38px, #71d9ff 0px 5px 22px;

}
@media (min-width: 600px) { 
        #MainButton {
        position: absolute;
        left: -2px;
        top: -17px;
        display: block;
        width: 150%;
        height: 60%;
        border-radius: 20%;
        background: linear-gradient(to bottom right, white, rgba(220,220,220,.5)), white;
        box-shadow: rgba(0, 23, 25, 0.2) 0px 19px 38px, #71d9ff 0px 5px 22px;
    }
}
